$primary-orange: #F37021;
$border-orange: #EA7021;
$primary-gray: #767676;
$primary-black: #242424;
$primary-white: #FFFFFF;
$delivery-yes: #A4CB35;
$delivery-not: #767676;
$border-left: #F6F6F6;
$border-default: #76767633;
$button-hover: #E54A00;
$heart: #F37A21;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;



